.packages-section {
  background-color: var(--color-16);
  padding: var(--space-24) var(--space-16);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-25);
  position: relative;
}

.packages-row {
  display: flex;
  justify-content: center;
  gap: var(--space-16);
  flex-wrap: wrap;
}

.packages-row-top {
  max-width: 1060px;
}

.packages-row-bottom {
  max-width: 700px;
}

.packages-row > .package-card {
  flex: 0 0 300px;
}

@media (max-width: 1000px) {
  .packages-row > .package-card {
    flex: 0 0 280px;
  }
}

@media (min-width: 768px) and (max-width: 1132px) {
  .packages-row {
    gap: var(--space-16);
    row-gap: 180px;
  }
}

@media (max-width: 767px) {
  .packages-section {
    padding: var(--space-17) var(--space-8);
    padding-top: var(--space-21);
    gap: var(--space-21);
    position: static;
    top: 0;
  }

  .packages-row {
    gap: var(--space-21);
  }

  .packages-row > .package-card {
    flex: 0 0 100%;
    max-width: 340px;
  }

  .package-card--deluxe,
  .package-card--premium {
    margin-top: var(--space-16);
  }
}
