.hero-img {
  height: 422px;
  object-fit: cover;
}

.timer-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 10;
}

@media (min-width: 768px) {
  .hero-img {
    height: auto;
    width: 100%;
  }
}
