@font-face {
  font-family: "Greycliff CF";
  src: url("/fonts/Greycliff-CF-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("/fonts/Greycliff-CF-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("/fonts/Greycliff-CF-Demi-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("/fonts/Greycliff-CF-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("/fonts/Greycliff-CF-Extra-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("/fonts/Greycliff-CF-Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
}

body {
  font-family:
    "Greycliff CF",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--color-16);
  color: var(--color-20);
}

img {
  max-width: 100%;
  display: block;
}

:root {
  /* Colors */
  --color-1: #843943;
  --color-2: #c84e3f;
  --color-3: #d64f34;
  --color-4: #d95f2b;
  --color-5: #554144;
  --color-6: #5a3d3d;
  --color-7: #654d51;
  --color-8: #7a6265;
  --color-9: #3f7c63;
  --color-10: #4a8769;
  --color-11: #2d6b4f;
  --color-12: #8b2236;
  --color-13: #3d2b2b;
  --color-14: #b8c299;
  --color-15: #a2ab87;
  --color-16: #f4e9e1;
  --color-17: #fff5ee;
  --color-18: #d4c4b0;
  --color-19: #ffffff;
  --color-20: #222222;
  --color-21: #232323;
  --color-22: #131309;

  /* Font Sizes */
  --fs-1: 8px;
  --fs-2: 12px;
  --fs-3: 14px;
  --fs-4: 16px;
  --fs-5: 17px;
  --fs-6: 18px;
  --fs-7: 20px;
  --fs-8: 24px;
  --fs-9: 26px;
  --fs-10: 28px;
  --fs-11: 30px;
  --fs-12: 40px;
  --fs-13: 48px;

  /* Spacing */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 10px;
  --space-4: 12px;
  --space-5: 13px;
  --space-6: 16px;
  --space-7: 18px;
  --space-8: 20px;
  --space-9: 24px;
  --space-10: 25px;
  --space-11: 28px;
  --space-12: 31px;
  --space-13: 32px;
  --space-14: 42px;
  --space-15: 48px;
  --space-16: 52px;
  --space-17: 60px;
  --space-18: 64px;
  --space-19: 72px;
  --space-20: 96px;
  --space-21: 120px;
  --space-22: 128px;
  --space-23: 140px;
  --space-24: 160px;
  --space-25: 180px;

  /* Radius */
  --radius-1: 6px;
  --radius-2: 10px;
  --radius-3: 12px;
  --radius-4: 16px;
  --radius-5: 20px;
  --radius-6: 100px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
