* {
  margin: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #f4ede6;
  color: #222;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --color-primary: #c84e3f;
  --color-orange: #d64f34;
  --color-dark: #222;
  --color-cream: #f4e9e1;
  --color-brown: #5a3d3d;
  --color-light-brown: #654d51;
  --color-dark-brown: #554144;
  --color-white: #ffffff;
  --color-green: #3f7c63;
  --color-dull-green: #4a8769;
  --color-burgandy: #843943;
  --color-light-burgandy: #762e37;

  --fm-xs: 8px;
  --fm-sm: 12px;
  --fm-md: 16px;
  --fm-lg: 18px;
  --fm-xl: 20px;
  --fm-xxl: 24px;
  --fm-2xl: 40px;
  --fm-2xxl: 48px;

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-2xl: 48px;
  --space-2xxl: 64px;
  --space-3xl: 72px;
  --space-3xxl: 96px;
  --space-4xxl: 128px;

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
